{% extends "@Front/layout.html.twig" %}
{% block body %}
{#
         <h2>Ajout d'utilisateur</h2>
         {{ form() }}
        {%for type, flashes in app.session.flashbag.all()%}
            {% for flash in flashes %}
                <p>{{ flash }}</p>
            {% endfor %}
        {% endfor %}#}

    <div class="col-lg-6">
        <h2>Ajout d'utilisateur</h2>

        {{ form_start(formUser) }}
        {{ form_widget(formUser) }}
        {{ form_end(formUser) }}

        <table class="table">
            <thead>
            <tr>
                <td>Nom</td>
                <td>Prenom</td>
                <td>Actions</td>
            </tr>
            </thead>
            <tbody>
            {% for fraisforfait in fraisforfaits %}
                <tr>
                    <td>{{ utilisateur.nom }}</td>
                    <td>{{ utilisateur.prenom }}</td>
                    <td>
                        <a href="{{ path('test_utilisateur_add',{id : utilisateur.id }) }}">Modifier</a><br/>
                        <a href="{{ path('test_utilisateur_edit',{id : utilisateur.id }) }}">Modifier</a><br/>
                        <a href="{{ path('test_fraisforfait_remove',{id : utilisateur.id }) }}">Supprimer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3" class="text-center">Aucun Frais</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div> {# fin frais forfait#}

 {% endblock %}