{% extends "FrontBundle::baseFrais.html.twig"%}
{% block container%}
<h1>Liste des utilisateurs</h1>
    {#<a class="btn btn-success" href="{{ path('test_utilisateur_add') }}">Ajouter un utilisateur</a>#}
    <table class="table table-hover">
        <thead>
        <tr>
            <td>Nom</td>
            <td>Prénom</td>
            <td>Date de naissance</td>
            <td>Roles</td>
            <td>Actions</td>
        </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
        <tr>
            <td>{{ utilisateur.nom }}</td>
            <td>{{ utilisateur.prenom }}</td>
            <td>{{ utilisateur.dateNaissance | date('d/m/Y') }}</td>
            <td>{{ utilisateur.password }}</td>
            {#<td>{{ utilisateur.plainPassword }}</td>#}
            <td><ul class="list-inline">
                    {% for role in utilisateur.roles %}
                    <li> {{ role }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <a class="glyphicon glyphicon-eye-open" href="{{ path('admin_utilisateur_show',{id : utilisateur.id }) }}"></a>
                <a class="glyphicon glyphicon-edit" href="{{ path('admin_utilisateur_edit',{id : utilisateur.id }) }}"></a>
                <a class="glyphicon glyphicon-remove" href="{{ path('admin_utilisateur_delete',{id : utilisateur.id }) }}"></a>
            </td>
        </tr>
            {% else %}
            <tr>
                <td colspan="5" class="text-center">Aucun Utilisateur</td>

            </tr>
        {% endfor %}
        <div class="col-lg-6">
            <h2>Ajout d'utilisateur</h2>

            {{ form_start(formUser) }}
            {{ form_widget(formUser) }}
            {{ form_end(formUser) }}

            <table class="table">
                <thead>
                <tr>
                    <td>Nom</td>
                    <td>Prenom</td>
                    <td>Actions</td>
                </tr>
                </thead>
                <tbody>
                {% for utilisateur in utilisateurs %}
                    <tr>
                        <td>{{ utilisateur.nom }}</td>
                        <td>{{ utilisateur.prenom }}</td>
                        <td>
                            <a href="{{ path('admin_utilisateur_new',{id : utilisateur.id }) }}">Ajouter</a><br/>
                            <a href="{{ path('admin_utilisateur_edit',{id : utilisateur.id }) }}">Modifier</a><br/>
                            <a href="{{ path('admin_utilisateur_delete',{id : utilisateur.id }) }}">Supprimer</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3" class="text-center">Aucun Frais</td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>


        </tbody>
    </table>

{% endblock container%}

