<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>	{% block title %}Bienvenue!{% endblock %}</title>
	{% block stylesheets %}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
	{% endblock %}
  </head>
  <body>
  {% block header %}
      <link rel="stylesheet" href="{{ asset('bundles/test/css/style.css') }}" />
  {% endblock header %}
		<nav class="navbar navbar-default">
		{% block navbar %}
			<div class="container-fluid">
			{% block div %}
				<div class="navbar-header">
					<a class="navbar-brand" href="{{path('test_homepage')}}">Applifrais</a>
				</div>
				<ul class="nav navbar-nav">
				  <li class="active"><a href="{{path('test_homepage')}}">Home</a></li>
				  <li><a href="{{path('test_page2')}}">Page 2</a></li>
				  <li><a href="{{path('test_page3')}}">Page 3</a></li>
				</ul>
			{% endblock div %}
			</div>
        {% endblock navbar %}
		</nav>
  {% block body %}
      <h1>Hello {{nom}}!</h1>
  {% endblock %}
	
	 {% block footer %}
	 {% endblock footer %}
	
		{% block javascripts %}
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<!-- datatable -->
		<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		{% endblock javascripts %}

  </body>
</html>



