{#{% extends 'baseBootstrap.html.twig'%}#}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>	{% block title %}Accueil{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    {% endblock %}
</head>
{% block body %}
<body>
{% block header %}
    <link rel="stylesheet" href="{{ asset('bundles/test/css/home.css') }}" />
{% endblock header %}
    <div class="block" align="center">
        <h2>
            <img src="{{ asset('bundles/test/img/logo-gsb.png') }}" class="img-circle" alt="Logo GSB" width="100" height="60">
            <div id="content">
                Bienvenue sur GSB - Applifrais
            </div>
        </h2>
    </div>
    <div class="block" id="login" align="center">
        <a href="{{ path('fos_user_security_login') }}"><button >Se connecter</button></a>
    </div>

{% block footer %}
{% endblock footer %}

{% block javascripts %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% endblock javascripts %}

</body>
{% endblock body %}

</html>
