<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title> {% block title%} Gestion des Frais{% endblock title%}</title>
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <!--<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>-->
    <!--<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>-->
    <!--[endif]-->

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('bundles/test/css/simple-sidebar.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/test/css/home.css') }}">


   {% block stylesheet%}

   {% endblock stylesheet%}
  </head>
  <body>
    <div id="wrapper">
    {% block header%}
    {% endblock header%}

    
     <!-- Sidebar -->
        <div id="sidebar-wrapper">

            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="{{ path("test_homepage") }}">
                        <h3>Accueil</h3>
                    </a>
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <h3>Gestion des frais</h3>
                        </a>
{#                        <ul class="dropdown-menu">
                            <li><a href="{{ path("test_fraisforfait_index") }}">Accueil</a></li>
                            <li><a href="{{ path('test_fraisforfait_edit', {'id': 'x'}) }}">Modifier des Frais</a></li>
                            <li><a href="{{ path('test_fraisforfait_remove', {'id': 'x'}) }}">Supprimer des Frais</a></li>
                        </ul>#}
                    </div>
                </li>
                {% block navbar%}
                {% endblock navbar%}
            </ul>

        </div>
        <!-- /#sidebar-wrapper -->
    
   
   
   <!-- Page Content -->
        <div id="page-content-wrapper">
          
            {#<div class="container-fluid">
                <div class="row">

                    <div class="col-lg-11 col-md-11">#}
                       {% block container%}

                      {% endblock container%}
{#                    </div>
                </div>
            </div>#}
          
        </div>
        <!-- /#page-content-wrapper -->

   
   
   {% block footer%}
   {% endblock footer%}
    
 </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {% block javascript%}
        <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
    {% endblock javascript%}
  </body>
</html>