{% extends '@Front/baseFrais.html.twig'%}

{% block title %}Modification de Frais{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
{% endblock %}

{% block body %}
    {% block header %}
        <link rel="stylesheet" href="{{ asset('bundles/test/css/body.css') }}" />
    {% endblock header %}

    {% block container %}
        <h2>Frais Forfait</h2>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

        <table class="table">
            <thead>
            <tr>
                <td>Libellé</td>
                <td>Prix</td>
                <td>Actions</td>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ fraisforfait.libelle }}</td>
                    <td>{{ fraisforfait.prixUnitaire }}</td>
                </tr>
                <tr>
                    <td colspan="3" class="text-center">Aucun Frais</td>
                </tr>
            </tbody>
        </table>
    {% endblock container %}
{% endblock body %}