{% extends '@Front/baseFrais.html.twig'%}

{% block title %}Gestion des Frais{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
{% endblock %}

{% block body %}
    {% block header %}
        <link rel="stylesheet" href="{{ asset('bundles/test/css/body.css') }}" />
    {% endblock header %}

    {% block container%}

        <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

            {#Frais forfait#}
            <div class="col-md-6">
                <h2>Frais Forfait de {{ laFiche.utilisateur.nom }}</h2> mois {{ laFiche.mois }}/{{ laFiche.annee }}

                {{ form_start(formFF) }}
                {{ form_widget(formFF) }}
                {{ form_end(formFF) }}

                <table class="table">
                    <thead>
                    <tr>
                        <th>Date Frais</th>
                        <th>Type Frais</th>
                        <th>Quantite</th>
                        <th>Prix Total</th>
                        <th>Etat</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for fraisforfait in laFiche.fraisForfaits %}
                        <tr>
                            <td>{{ fraisforfait.dateFrais | date('d/m/Y') }}</td>
                            <td>{{ fraisforfait.fraisForfaitType.libelle }}</td>
                            <td>{{ fraisforfait.quantite }}</td>
                            <td>{{ fraisforfait.quantite * fraisforfait.fraisForfaitType.prixUnitaire }}</td>
                            <td>{{ fraisforfait.etat.libelle }}</td>
                            <td>
                                <a href="">Supprimer</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6" class="text-center">Aucun Frais</td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div> {# fin frais forfait#}

            {#Frais hors forfait#}
            <div class="col-md-6">
                <h2>Frais Hors Forfait</h2>

                {{ form_start(formHF) }}
                {{ form_widget(formHF) }}
                {{ form_end(formHF) }}

                <table class="table">
                    <thead>
                    <tr>
                        <td>Date Frais</td>
                        <td>Libellé</td>
                        <td>Prix</td>
                        <th>Etat</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for fraishorsforfait in laFiche.fraisHorsForfaits %}
                        <tr>
                            <td>{{ fraishorsforfait.dateFrais | date('d/m/Y') }}</td>
                            <td>{{ fraishorsforfait.libelle }}</td>
                            <td>{{ fraishorsforfait.prix }}</td>
                            <td>{{ fraishorsforfait.etat.libelle }}</td>
                            <td>
                                <a href="">Supprimer</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5" class="text-center">Aucun Frais</td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div> {# fin frais forfait#}
            </div>

        </div>
        </div>

    {% endblock container%}

    {% block footer %}
    {% endblock footer %}

    {% block javascripts %}
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {% endblock javascripts %}

{% endblock body %}