{#{% extends 'baseBootstrap.html.twig'%}#}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>	{% block title %}Connection{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    {% endblock %}
</head>
{% block body %}
<body>
{% block header %}
    <link rel="stylesheet" href="{{ asset('bundles/test/css/body.css') }}" />
{% endblock header %}
    <script type="text/php" src="../Default/session.php"></script>

{% block container%}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    {#{{ form(form) }}#}
    <table class="table">
        <thead>
        <tr>
            <td>Libellé</td>
            <td>Prix</td>
            <td>Actions</td>
        </tr>
        </thead>
        <tbody>
        {% for fraisforfait in fraisforfaits %}
            <tr>
                <td>{{ fraisforfait.libelle }}</td>
                <td>{{ fraisforfait.prixUnitaire }}</td>
                <td>
                    <a href="{{ path('test_fraisforfait_edit',{id : fraisforfait.id }) }}">Modifier</a><br/>
                    <a href="{{ path('test_fraisforfait_remove',{id : fraisforfait.id }) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3" class="text-center">Aucun Frais</td>

            </tr>
        {% endfor %}


        </tbody>
    </table>

{% endblock container%}

{% block footer %}
{% endblock footer %}

{% block javascripts %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% endblock javascripts %}

</body>
{% endblock body %}

</html>
