{% extends '@Front/baseFrais.html.twig' %}

{% block container %}
    <h1>Etat list</h1>

    <table>
        <thead>
            <tr>

                <th>Libelle</th>
                <th>Ordre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etat in etats %}
            <tr>
                <td><a href="{{ path('admin_etat_show', { 'id': etat.id }) }}">{{ etat.libelle }}</a></td>
                <td>{{ etat.ordre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_etat_show', { 'id': etat.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_etat_edit', { 'id': etat.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_etat_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
