{% extends '@Front/baseFrais.html.twig' %}

{% block container %}
    <h1>Etat</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ etat.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ etat.libelle }}</td>
            </tr>
            <tr>
                <th>Ordre</th>
                <td>{{ etat.ordre }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_etat_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_etat_edit', { 'id': etat.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
