{% extends '@Front/baseFrais.html.twig' %}

{% block container %}
    <h1>FraisForfaitType list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fraisForfaitType in fraisForfaitTypes %}
            <tr>
                <td><a href="{{ path('admin_fraisforfaittype_show', { 'id': fraisForfaitType.id }) }}">{{ fraisForfaitType.id }}</a></td>
                <td>{{ fraisForfaitType.libelle }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_fraisforfaittype_show', { 'id': fraisForfaitType.id }) }}">Afficher</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_fraisforfaittype_edit', { 'id': fraisForfaitType.id }) }}">Editer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_fraisforfaittype_new') }}">Ajouter un nouveau type de frais</a>
        </li>
    </ul>
{% endblock %}
