{% extends '@Front/baseFrais.html.twig' %}

{% block container %}
    <h1>FraisForfaitType</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fraisForfaitType.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ fraisForfaitType.libelle }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_fraisforfaittype_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_fraisforfaittype_edit', { 'id': fraisForfaitType.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
